<style>
#message_edit_page {
  clear: both;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
}
.alert_message {
  clear: both;
  border: #770505 solid 1px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  background-color:#bfd4ff;
}
#two_column_left {
  width: 750px;
  height: 350px;
  float: left;
  clear: none;
  margin-left: 0px;
  padding: 0px;
  /* border: #2A57A2 solid 1px; */
}
#two_column_right {
  width: 370px;
  height: 330px;
  float: left;
  clear: none;
  margin-left: 15px;
  padding: 10px;
  /* border: #2A57A2 solid 1px; */
  border: #dedede solid 1px;
}
#two_column_left_edit_page {
  width: 750px;
  height: 350px;
  float: left;
  clear: none;
  margin-left: 0px;
  padding: 10px;
  border: #2A57A2 solid 1px;
}
#two_column_right_edit_page {
  width: 350px;
  height: 350px;
  float: left;
  clear: none;
  margin-left: 15px;
  padding: 10px;
  border: #2A57A2 solid 1px;
}
/*** "message" form styling ***/
/* Borrowed from:
http://webdesign.tutsplus.com/tutorials/bring-your-forms-up-to-date-with-css3-and-html5-validation--webdesign-4738 */
:-moz-placeholder {
    color: blue;
}
 ::-webkit-input-placeholder {
    color: blue;
}
*:focus {outline: none;}
.message_form h2, .message_form label {font-family:Arial, Helvetica, sans-serif;}
.form_hint, .required_notification {font-size: 11px;}
.message_form ul {
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.message_form li {
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}
.message_form h2 { /* not used */
    margin:0;
    display: inline;
}
.required_notification {
    color:#d45252;
    margin:5px 0 0 0;
    display:inline;
    float:right;
}
.message_form label  {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.message_form input {
    height:20px;
    width:1100px;
    padding:5px 8px;
}
.message_form textarea {padding:8px; width:300px;}
.message_form button {margin-left:0px;}
.message_form input, .message_form textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.message_form input:focus, .message_form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}
/* Button Style */
button.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer;
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;

}
.message_form input:focus, .message_form textarea:focus { /* add this to the already existing style */
    padding-right:70px;
}
.message_form input, .message_form textarea { /* add this to the already existing style */
    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
}
.message_form input, .message_form textarea {
    padding-right:30px;
}
input:required, textarea:required {
    background: #fff url(../images/asterisk.gif) no-repeat 98% center;
}
.message_form input:focus:invalid, .message_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff url(../images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
.message_form input:required:valid, .message_form textarea:required:valid { /* when a field is considered valid by the browser */
    background: #fff url(images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}
.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}
.message_form input:focus + .form_hint {display: inline;}
.message_form input:required:valid + .form_hint {background: #28921f;} /* change form hint color when valid */
.message_form input:required:valid + .form_hint::before {color:#28921f;} /* change form hint arrow color when valid */
#location_checkboxes {
  width: 1160px;
  font-weight: normal;
  font-size: 13px;
}
#checkbox {
  width: 20px;
  margin-left: 0px;
  vertical-align: middle;
  margin-right: 3px;
}
#loc_name {
  margin-right: 50px;
}
#loc_delete {
  margin-right: 50px;
  color: red;
  font-weight: bold;
}
</style>
